#top-bar {

   position: absolute;
    top: 15%;
    left: 75%;
    width: 100%;
}

#thinking {
position: absolute;
    top: 15%;
    left: 15%;
    width: 100%;
}

#my_site {
  text-align: center;
  position: absolute;
    top: 15%;
    left: 45;
    width: 100%;
}
